@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

/* Swiper styles */
.swiper {
  width: 100%;
  padding-bottom: 40px !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #e2e8f0 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #6B21A8 !important;
}

.swiper-slide {
  height: auto !important;
}